.section {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
  /* height: 100vh; */
}

#root{
  min-height: 100vh;
  font-family: "K2D", sans-serif;
  /* font-family: "Poppins", sans-serif; */
}

.font-poppins{
  font-family: "Poppins", sans-serif;
}

.font-k{
  font-family: "K2D", sans-serif;
}

.dashboard .active{
  background-color: black;
  color: white;
}


.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.Nav .active{
  background-image: linear-gradient(45deg, #E53719, rgba(135, 252, 196, 0) 14.23%, rgba(135, 252, 196, 0) 71.6%, #E62DFF);
  padding: 5px 10px;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold; 
  min-width: 120px;
}

/* .active::after{
  content: '';
  position: absolute;
  background-color: white;
  width: 95%;
  height: 90%;
  left: 2.5%;
  top: 5%;
  border-radius: 20px;
} */

.Nav .active span{
  z-index: 1;
}

.custom-glass{
  /* max-height: 45px; */
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.bg-banner{
  background: linear-gradient(135deg,#7c40cc,#5433af 30%,#5792ff 90%,#67b2ff 100%);
  color: #fff;
}

.custom-glass2{
  background: rgba(255, 255, 255, 0.24);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#mobilenav .active {
  /* padding: 4px 15px; */
  border-radius: 100%;
  height: 52px;
  width: 52px;
  text-align: center;
  display: block;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.3s;
  display: flex;
  font-weight: bold;
  color: #282727;
}