.section {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
  /* height: 100vh; */
}

#root{
  min-height: 100vh;
  font-family: "K2D", sans-serif;
  /* font-family: "Poppins", sans-serif; */
}

.font-poppins{
  font-family: "Poppins", sans-serif;
}

.font-k{
  font-family: "K2D", sans-serif;
}

.dashboard .active{
  background-color: black;
  color: white;
}


.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.Nav .active{
  background-image: linear-gradient(45deg, #E53719, rgba(135, 252, 196, 0) 14.23%, rgba(135, 252, 196, 0) 71.6%, #E62DFF);
  padding: 5px 10px;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold; 
  min-width: 120px;
}

/* .active::after{
  content: '';
  position: absolute;
  background-color: white;
  width: 95%;
  height: 90%;
  left: 2.5%;
  top: 5%;
  border-radius: 20px;
} */

.Nav .active span{
  z-index: 1;
}